<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Gozar Development Team</title>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
            href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="fonts/icomoon/style.css"/>
    <link rel="icon" href="images/photo_2020-09-10_20-18-29.jpg"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/jquery-ui.css"/>
    <link rel="stylesheet" href="css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="css/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="css/owl.theme.default.min.css"/>

    <link rel="stylesheet" href="css/jquery.fancybox.min.css"/>

    <link rel="stylesheet" href="css/bootstrap-datepicker.css"/>

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css"/>

    <link rel="stylesheet" href="css/aos.css"/>

    <link rel="stylesheet" href="css/style.css"/>
    <style>
        .character {
            width: 40px !important;;
            height: 40px;
            font-size: 20px;
            text-align: center;
            font-weight: bold;
            color: rgb(223, 223, 223);
        }

        .word {
            font-size: 20px;
            color: black;
            font-weight: bold;
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-DQHLQDED2W"
    ></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag("js", new Date());

        gtag("config", "G-DQHLQDED2W");
    </script>
</head>
<body
        data-spy="scroll"
        data-target=".site-navbar-target"
        data-offset="300"
        style="text-align: right"
>
<div class="site-wrap">
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <div class="border-bottom top-bar py-2 bg-dark" id="home-section">
        <div class="container" dir="ltr">
            <div class="row">

                <div class="col-md-5 col-8">
                    <p class="mb-0" style="float: right">
                <span class="mr-3"
                ><strong class="text-white">phone:</strong>
                  <a href="tel://#"
                  >021-42719005</a
                  ></span
                >
                        <br/>
                        <span
                        ><strong class="text-white"> email:</strong>
                  <a href="#">info@gozar.team</a></span
                        >
                    </p>
                </div>
                <div class="col-md-6 col-4">
                    <ul class="social-media" style="float: left">
                        <li>
                            <a href="https://www.instagram.com/gozar.team/" class="p-2"
                            ><span class="icon-instagram"></span
                            ></a>
                        </li>
                        <li>
                            <a
                                    href="https://www.linkedin.com/company/gozar-team"
                                    class="p-2"
                            ><span class="icon-linkedin"></span
                            ></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <header
            class="site-navbar py-4 bg-white js-sticky-header site-navbar-target"
            role="banner"
    >
        <div class="container" dir="ltr">
            <div class="row align-items-center">

                <div class="col-12 col-md-10 d-none d-xl-block">
                    <nav class="site-navigation position-relative text-right" dir="rtl"
                         role="navigation">
                        <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block"
                            style="direction: ltr!important;">
                            <li><a href="#home-section" class="nav-link">Home</a></li>
                            <li><a href="#work-section" class="nav-link">Projects</a></li>
                            <li>
                                <a href="#services-section" class="nav-link">Services</a>
                            </li>
                            <li>
                                <a href="#about-section" class="nav-link">About Us</a>
                            </li>
                            <li>
                                <a href="./apply_en.html" class="nav-link">Work</a>
                            </li>
                            <li>
                                <a href="#contact-section" class="nav-link">Contact Us</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-11 col-xl-2">
                    <img
                            src="images/Logo.png"
                            class="text-black h2 mb-0"
                            alt="logo"
                            style="max-width: 170px"
                    />
                </div>


                <div
                        class="d-inline-block d-xl-none ml-md-0 mr-auto py-3"
                        style="position: relative; top: 3px"
                >
                    <a href="#" class="site-menu-toggle js-menu-toggle text-black"
                    ><span class="icon-menu h3"></span
                    ></a>
                </div>
            </div>
        </div>
    </header>

    <div
            class="site-blocks-cover overlay"
            style="background-image: url(images/back.jpg)"
            data-aos="fade"
            data-stellar-background-ratio="0.5"
    >
        <div class="container">
            <div
                    class="row align-items-center justify-content-center text-center"
            >
                <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">
                    <div class="row justify-content-center mb-4">
                        <div class="col-md-8 text-center">
                            <h1 style="direction: ltr;" class="text-center"><span class=" typed-words"></span></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="site-section" style="text-align: left;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="p-3 box-with-humber">
                        <div class="number-behind-en">.1</div>
                        <h2 class="text-primary">Design</h2>
                        <p class="mb-4"></p>
                        <ul class="list-unstyled ul-check primary">
                            <li>design to satisfy your needs</li>
                            <li>customised design</li>
                            <li>creative design</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="p-3 box-with-humber">
                        <div class="number-behind-en">.2</div>
                        <h2 class="text-primary">Build</h2>
                        <p class="mb-4"></p>
                        <ul class="list-unstyled ul-check primary">
                            <li>Web Platforms</li>
                            <li>Applications and Services</li>
                            <li>Branding and Marketing</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="p-3 box-with-humber">
                        <div class="number-behind-en">.3</div>
                        <h2 class="text-primary">Develop</h2>
                        <p class="mb-4"></p>
                        <ul class="list-unstyled ul-check primary">
                            <li>Support</li>
                            <li>various modules</li>
                            <li>advertisement and SEO</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="site-section" id="work-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-8 text-center">
                    <h2 class="text-black h1 site-section-heading text-center">
                        Our Projects
                    </h2>
                    <p class="lead"></p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <a href="./eff_fa.html" class="media-1">
                        <img
                                src="images/student-club/madrese/madrese-melli-mockup.png"
                                alt="Image"
                                class="img-fluid"
                        />
                        <div class="media-1-content">
                            <h2>National School Website</h2>
                            <span class="category">Web Platform</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a href="./shabake_en.html" class="media-1">
                        <img
                                src="images/student-club/shabake/shabake-mockup.png"
                                alt="Image"
                                class="img-fluid"
                        />
                        <div class="media-1-content">
                            <h2>Studental Network Website</h2>
                            <span class="category">Web Platform</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a href="./ecf_en.html" class="media-1">
                        <img
                                src="images/ecf_mockup.jpg"
                                alt="Image"
                                class="img-fluid"
                        />
                        <div class="media-1-content">
                            <h2>Roshd Electronic Content Festival</h2>
                            <span class="category">Web Platform</span>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4">
                    <a href="./madresefestival_en.html" class="media-1">
                        <img
                                src="images/mf_mockup.jpg"
                                alt="Image"
                                class="img-fluid"
                        />
                        <div class="media-1-content">
                            <h2>Madrese Festival</h2>
                            <span class="category">Web Platform</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a href="./noorfestival_en.html" class="media-1">
                        <img src="images/noor.png" alt="Image" class="img-fluid"/>
                        <div class="media-1-content">
                            <h2>Noor Festival</h2>
                            <span class="category">Web Platform</span>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4">
                    <a href="./eff_en.html" class="media-1">
                        <img
                                src="images/eff_mockup.jpg"
                                alt="Image"
                                class="img-fluid"
                        />
                        <div class="media-1-content">
                            <h2>Roshd International Film Festival</h2>
                            <span class="category">Web Platform</span>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4">
                    <a href="https://aaic.aut.ac.ir/" class="media-1">
                        <img src="images/aaic.jpg" alt="Image" class="img-fluid"/>
                        <div class="media-1-content">
                            <h2>Amirkabir Universiry Artificial Intelligence Challenge</h2>
                            <span class="category">Web Platform</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a href="https://boreshacademy.ir" class="media-1">
                        <img src="images/boresh.jpg" alt="Image" class="img-fluid"/>
                        <div class="media-1-content">
                            <h2>Boresh Academy Website</h2>
                            <span class="category">Web Application</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a href="https://madresefestival.ir" class="media-1">
                        <img
                                src="images/graphic_mockup.jpg"
                                alt="Image"
                                class="img-fluid"
                        />
                        <div class="media-1-content">
                            <h2>Graphic Festival</h2>
                            <span class="category">Web Platform</span>
                        </div>
                    </a>
                </div>

                <!--                <div class="col-md-6 col-lg-4">-->
                <!--                    <a href="http://optiontime.ir/" class="media-1">-->
                <!--                        <img-->
                <!--                                src="images/optiontime.jpg"-->
                <!--                                alt="Image"-->
                <!--                                class="img-fluid"-->
                <!--                        />-->
                <!--                        <div class="media-1-content">-->
                <!--                            <h2>Option Time</h2>-->
                <!--                            <span class="category">WebSite</span>-->
                <!--                        </div>-->
                <!--                    </a>-->
                <!--                </div>-->
            </div>
        </div>
    </section>

    <!--    <section class="section ft-feature-1">-->
    <!--      <div class="container">-->
    <!--        <div class="row align-items-stretch">-->
    <!--          <div class="col-12 bg-black w-100 ft-feature-1-content">-->
    <!--            <div class="row align-items-center">-->
    <!--              <div class="col-lg-5">-->
    <!--                -->
    <!--                  <img src="images/about_1.jpg" alt="Image" class="img-fluid mb-4 mb-lg-0">-->
    <!--                -->
    <!--              </div>-->
    <!--              <div class="col-lg-3 ml-auto">-->
    <!--                <div class="mb-5">-->
    <!--                  <h3 class="d-flex align-items-center"><span class="icon icon-beach_access mr-2"></span><span>Strategy</span></h3>-->
    <!--                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ab nihil quam nesciunt.</p>-->
    <!--                  <p><a href="#">Read More</a></p>-->
    <!--                </div>-->

    <!--                <div>-->
    <!--                  <h3 class="d-flex align-items-center"><span class="icon icon-build mr-2"></span><span>Web Development</span></h3>-->
    <!--                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ab nihil quam nesciunt.</p>-->
    <!--                  <p><a href="#">Read More</a></p>-->
    <!--                </div>-->

    <!--              </div>-->
    <!--              <div class="col-lg-3">-->
    <!--                <div class="mb-5">-->
    <!--                  <h3 class="d-flex align-items-center"><span class="icon icon-format_paint mr-2"></span><span>Art Direction</span></h3>-->
    <!--                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ab nihil quam nesciunt.</p>-->
    <!--                  <p><a href="#">Read More</a></p>-->
    <!--                </div>-->

    <!--                <div>-->
    <!--                  <h3 class="d-flex align-items-center"><span class="icon icon-question_answer mr-2"></span><span>Copywriting</span></h3>-->
    <!--                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ab nihil quam nesciunt.</p>-->
    <!--                  <p><a href="#">Read More</a></p>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </section>-->

    <!--    <section class="site-section testimonial-wrap">-->
    <!--      <div class="container">-->
    <!--        <div class="row justify-content-center">-->
    <!--          <div class="col-md-8 text-center">-->
    <!--            <h2 class="text-black h1 site-section-heading text-center">Testimonials</h2>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--      <div class="slide-one-item home-slider owl-carousel">-->
    <!--          <div>-->
    <!--            <div class="testimonial">-->
    <!--              -->
    <!--              <blockquote class="mb-5">-->
    <!--                <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>-->
    <!--              </blockquote>-->

    <!--              <figure class="mb-4 d-flex align-items-center justify-content-center">-->
    <!--                <div><img src="images/person_3.jpg" alt="Image" class="w-50 img-fluid mb-3"></div>-->
    <!--                <p>John Smith</p>-->
    <!--              </figure>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--          <div>-->
    <!--            <div class="testimonial">-->

    <!--              <blockquote class="mb-5">-->
    <!--                <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>-->
    <!--              </blockquote>-->
    <!--              <figure class="mb-4 d-flex align-items-center justify-content-center">-->
    <!--                <div><img src="images/person_2.jpg" alt="Image" class="w-50 img-fluid mb-3"></div>-->
    <!--                <p>Christine Aguilar</p>-->
    <!--              </figure>-->
    <!--              -->
    <!--            </div>-->
    <!--          </div>-->

    <!--          <div>-->
    <!--            <div class="testimonial">-->

    <!--              <blockquote class="mb-5">-->
    <!--                <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>-->
    <!--              </blockquote>-->
    <!--              <figure class="mb-4 d-flex align-items-center justify-content-center">-->
    <!--                <div><img src="images/person_4.jpg" alt="Image" class="w-50 img-fluid mb-3"></div>-->
    <!--                <p>Robert Spears</p>-->
    <!--              </figure>-->

    <!--              -->
    <!--            </div>-->
    <!--          </div>-->

    <!--          <div>-->
    <!--            <div class="testimonial">-->

    <!--              <blockquote class="mb-5">-->
    <!--                <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>-->
    <!--              </blockquote>-->
    <!--              <figure class="mb-4 d-flex align-items-center justify-content-center">-->
    <!--                <div><img src="images/person_5.jpg" alt="Image" class="w-50 img-fluid mb-3"></div>-->
    <!--                <p>Bruce Rogers</p>-->
    <!--              </figure>-->

    <!--            </div>-->
    <!--          </div>-->

    <!--        </div>-->
    <!--    </section>-->

    <section class="site-section border-bottom" id="services-section">
        <div class="container" style="text-align: left;">
            <div class="row justify-content-center mb-5">
                <div class="col-md-8 text-center" data-aos="fade-up" dir="ltr">
                    <h2 class="text-black h1 site-section-heading text-center">
                        Our Services
                    </h2>

                    <!-- -->
                    <!-- -->


                </div>
            </div>
            <div class="row align-items-stretch">
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                    <div class="row justify-content-center">
                        <div class="col-12" data-aos="fade-up">
                            <div class="unit-4 d-flex">
                                <div>
                                    <h3>Web Development</h3>
                                    <p>
                                        service and website design according to needs of employer
                                    </p>
                                    <p><a href="#">more</a></p>
                                </div>
                                <div class="unit-4-icon mr-4">
                                    <span class="text-primary icon-laptop2"></span>
                                </div>
                            </div>
                        </div>
                        <div
                                class="col-12"
                                data-aos="fade-up"
                                data-aos-delay="100"
                        >
                            <div class="unit-4 d-flex">
                                <div>
                                    <h3>Online Shopping</h3>
                                    <p>
                                        design and build specialized online shops
                                    </p>
                                    <p><a href="#">more</a></p>
                                </div>
                                <div class="unit-4-icon mr-4">
                                    <span class="text-primary icon-shopping_cart"></span>
                                </div>
                            </div>
                        </div>
                        <div
                                class="col-12"
                                data-aos="fade-up"
                                data-aos-delay="200"
                        >
                            <div class="unit-4 d-flex">
                                <div>
                                    <h3>Web Applications</h3>
                                    <p>design, build and develop web applications</p>
                                    <p><a href="#">more</a></p>
                                </div>
                                <div class="unit-4-icon mr-4">
                                    <span class="text-primary icon-question_answer"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 d-none d-md-block">
                    <div class="row justify-content-center" data-aos="fade-up"
                         data-aos-delay="200">
                        <div dir="ltr" class="text-center">
                            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
                            <div id="app">
                                <div class="row text-center justify-content-center">
                                    <div class="col">
                                        <one-table></one-table>
                                    </div>
                                </div>
                            </div>

                            <script>
                                Vue.component('one-line', {
                                    data() {
                                        return {
                                            notWord: [true, true, true, true, true, true, true, true],
                                            displayWords: ["", "", "", "", "", 'A', "N", "D"],
                                            displayChars: ["A", "E", "!", "#", "5", "R", "4", "5"],
                                            Chars: ["A", "B", "C", "D", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z", "!", "@", "#"],
                                            ch: '9',
                                            count: 0
                                        }
                                    },
                                    methods: {
                                        setIntervals() {
                                            let context = this;
                                            for (let i = 0; i < 8; i++) {
                                                setInterval(function () {
                                                    context.displayChars[i] = context.Chars[Math.floor(Math.random() * 28)];
                                                    context.ch = Math.floor(Math.random() * 7);
                                                }, 300 + Math.floor(Math.random() * 20) * 70);
                                            }
                                        },
                                        wordChange(str) {
                                            let startIndex = Math.floor(Math.random() * (9 - str.length))
                                            let counter = 0;
                                            let cont = this
                                            for (let i = startIndex; i < startIndex + str.length; i++) {
                                                cont.displayWords[i] = str[counter]
                                                setTimeout(function () {
                                                    cont.notWord[i] = !cont.notWord[i]
                                                }, 300 * i)
                                                setTimeout(function () {
                                                    cont.notWord[i] = !cont.notWord[i]
                                                }, 1700 + 300 * (8 - i))
                                                counter++;
                                            }
                                        },
                                    },
                                    mounted() {
                                        this.setIntervals();
                                    },
                                    template: `
          <div class="d-flex text-center justify-content-center" dir="ltr">
          <div class="d-flex flex-row-reverse justify-content-center " dir="ltr">

            <div style='display:none;'>{{ ch }}</div>

            <div class='character'>
              <div class='cell' v-if='notWord[0]'>{{ displayChars[0] }}</div>
              <div class='word' v-else>{{ displayWords[0] }}</div>
            </div>
            <div class='character'>
              <div class='cell' v-if='notWord[1]'>{{ displayChars[1] }}</div>
              <div class='word' v-else>{{ displayWords[1] }}</div>
            </div>
            <div class='character'>
              <div class='cell' v-if='notWord[2]'>{{ displayChars[2] }}</div>
              <div class='word' v-else>{{ displayWords[2] }}</div>
            </div>
            <div class='character'>
              <div class='cell' v-if='notWord[3]'>{{ displayChars[3] }}</div>
              <div class='word' v-else>{{ displayWords[3] }}</div>
            </div>
            <div class='character'>
              <div class='cell' v-if='notWord[4]'>{{ displayChars[4] }}</div>
              <div class='word' v-else>{{ displayWords[4] }}</div>
            </div>
            <div class='character'>
              <div class='cell' v-if='notWord[5]'>{{ displayChars[5] }}</div>
              <div class='word' v-else>{{ displayWords[5] }}</div>
            </div>
            <div class='character'>
              <div class='cell' v-if='notWord[6]'>{{ displayChars[6] }}</div>
              <div class='word' v-else>{{ displayWords[6] }}</div>
            </div>
            <div class='character'>
              <div class='cell' v-if='notWord[7]'>{{ displayChars[7] }}</div>
              <div class='word' v-else>{{ displayWords[7] }}</div>
            </div>


          </div>
          </div>`
                                })
                                Vue.component('one-table', {
                                    data: () => ({
                                        words: ['APP', 'GOZAR', 'MOBILE', 'ANDROID', 'WEB'],
                                        word_idex: 0,
                                    }),
                                    mounted() {
                                        let context = this
                                        setInterval(function () {
                                            let line_nuumber = Math.floor(Math.random() * 11) + 1
                                            if (line_nuumber == 11)
                                                context.$refs.line8.wordChange(context.words[context.word_idex])
                                            if (line_nuumber == 10)
                                                context.$refs.line7.wordChange(context.words[context.word_idex])
                                            if (line_nuumber == 9)
                                                context.$refs.line6.wordChange(context.words[context.word_idex])
                                            if (line_nuumber == 8)
                                                context.$refs.line8.wordChange(context.words[context.word_idex])
                                            if (line_nuumber == 7)
                                                context.$refs.line7.wordChange(context.words[context.word_idex])
                                            if (line_nuumber == 6)
                                                context.$refs.line6.wordChange(context.words[context.word_idex])
                                            if (line_nuumber == 5)
                                                context.$refs.line5.wordChange(context.words[context.word_idex])
                                            if (line_nuumber == 4)
                                                context.$refs.line4.wordChange(context.words[context.word_idex])
                                            if (line_nuumber == 3)
                                                context.$refs.line3.wordChange(context.words[context.word_idex])
                                            if (line_nuumber == 2)
                                                context.$refs.line2.wordChange(context.words[context.word_idex])
                                            if (line_nuumber == 1)
                                                context.$refs.line1.wordChange(context.words[context.word_idex])
                                            context.word_idex = (context.word_idex + 1) % 5
                                        }, 3000);
                                    },
                                    methods: {},
                                    template: `
          <div style="text-align:center;">
          <one-line ref="line1"></one-line>
          <one-line ref="line2"></one-line>
          <one-line ref="line3"></one-line>
          <one-line ref="line4"></one-line>
          <one-line ref="line5"></one-line>
          <one-line ref="line6"></one-line>
          <one-line ref="line7"></one-line>
          <one-line ref="line8"></one-line>
          <one-line ref="line9"></one-line>
          <one-line ref="line10"></one-line>
          <one-line ref="line11"></one-line>
          </div>`
                                })

                                var app = new Vue({
                                    el: '#app',

                                })
                            </script>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                    <div class="row align-items-stretch">
                        <div
                                class="col-12"
                                data-aos="fade-up"
                                data-aos-delay="300"
                        >
                            <div class="unit-4 d-flex">
                                <div>
                                    <h3>Branding</h3>
                                    <p>
                                        marketing and advertisement for new brands
                                    </p>
                                    <p><a href="#">more</a></p>
                                </div>
                                <div class="unit-4-icon mr-4">
                                    <span class="text-primary icon-format_paint"></span>
                                </div>
                            </div>
                        </div>
                        <!--                                                        class="col-md-6 col-lg-4 mb-4 mb-lg-4"-->
                        <div
                                class="col-12"
                                data-aos="fade-up"
                                data-aos-delay="400"
                        >
                            <div class="unit-4 d-flex">
                                <div>
                                    <h3>technical support</h3>
                                    <p>
                                        providing experienced developers to support our products
                                    </p>
                                    <p><a href="#">more</a></p>
                                </div>
                                <div class="unit-4-icon mr-4">
                                    <span class="text-primary icon-extension"></span>
                                </div>
                            </div>
                        </div>
                        <div
                                class="col-12"
                                data-aos="fade-up"
                                data-aos-delay="500"
                        >
                            <div class="unit-4 d-flex">
                                <div>
                                    <h3>Mobile Applications</h3>
                                    <p>mobile applications for various platforms</p>
                                    <p><a href="#">more</a></p>
                                </div>
                                <div class="unit-4-icon mr-4">
                                    <span class="text-primary icon-phonelink"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="site-section" id="about-section" style="text-align: left;" dir="ltr">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-5 ml-auto mb-5 order-md-2" data-aos="fade">
                    <img
                            src="images/about_1.jpg"
                            alt="Image"
                            class="img-fluid rounded"
                    />
                </div>
                <div class="col-md-6 order-md-1" data-aos="fade">
                    <div class="row">
                        <div class="col-12">
                            <div class="text-left pb-1">
                                <h2 class="text-black h1 site-section-heading">
                                    About Us
                                </h2>
                            </div>
                        </div>

                        <div class="col-12 mb-4">
                            <p class="lead">Gozar is a team consisting of young and creative members which started its
                                work
                                in web and now develops various services.
                                In addition to technical services ,Gozar providess branding and market edvelopement .
                                Gozar cooperates with experts in different fields to satisfy the employers.
                                Creativity is the most important axis of the team.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--    <div class="site-section border-bottom" id="team-section">-->
    <!--      <div class="container">-->
    <!--        <div class="row justify-content-center mb-5">-->
    <!--          <div class="col-md-7 text-center">-->
    <!--            <h2 class="text-black h1 site-section-heading">Our Team</h2>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="row">-->
    <!--          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">-->
    <!--            <div class="person text-center">-->
    <!--              <img src="images/person_2.jpg" alt="Image" class="img-fluid rounded-circle w-50 mb-5">-->
    <!--              <h3>John Rooster</h3>-->
    <!--              <p class="position text-muted">Co-Founder, President</p>-->
    <!--              <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi at consequatur unde molestiae quidem provident voluptatum deleniti quo iste error eos est praesentium distinctio cupiditate tempore suscipit inventore deserunt tenetur.</p>-->
    <!--              <ul class="ul-social-circle">-->
    <!--                <li><a href="#"><span class="icon-facebook"></span></a></li>-->
    <!--                <li><a href="#"><span class="icon-twitter"></span></a></li>-->
    <!--                <li><a href="#"><span class="icon-linkedin"></span></a></li>-->
    <!--                <li><a href="#"><span class="icon-instagram"></span></a></li>-->
    <!--              </ul>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">-->
    <!--            <div class="person text-center">-->
    <!--              <img src="images/person_3.jpg" alt="Image" class="img-fluid rounded-circle w-50 mb-5">-->
    <!--              <h3>Tom Sharp</h3>-->
    <!--              <p class="position text-muted">Co-Founder, COO</p>-->
    <!--              <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi at consequatur unde molestiae quidem provident voluptatum deleniti quo iste error eos est praesentium distinctio cupiditate tempore suscipit inventore deserunt tenetur.</p>-->
    <!--              <ul class="ul-social-circle">-->
    <!--                <li><a href="#"><span class="icon-facebook"></span></a></li>-->
    <!--                <li><a href="#"><span class="icon-twitter"></span></a></li>-->
    <!--                <li><a href="#"><span class="icon-linkedin"></span></a></li>-->
    <!--                <li><a href="#"><span class="icon-instagram"></span></a></li>-->
    <!--              </ul>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="300">-->
    <!--            <div class="person text-center">-->
    <!--              <img src="images/person_4.jpg" alt="Image" class="img-fluid rounded-circle w-50 mb-5">-->
    <!--              <h3>Winston Hodson</h3>-->
    <!--              <p class="position text-muted">Marketing</p>-->
    <!--              <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi at consequatur unde molestiae quidem provident voluptatum deleniti quo iste error eos est praesentium distinctio cupiditate tempore suscipit inventore deserunt tenetur.</p>-->
    <!--              <ul class="ul-social-circle">-->
    <!--                <li><a href="#"><span class="icon-facebook"></span></a></li>-->
    <!--                <li><a href="#"><span class="icon-twitter"></span></a></li>-->
    <!--                <li><a href="#"><span class="icon-linkedin"></span></a></li>-->
    <!--                <li><a href="#"><span class="icon-instagram"></span></a></li>-->
    <!--              </ul>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->

    <!--    <section class="site-section" id="blog-section">-->
    <!--      <div class="container">-->
    <!--        <div class="row justify-content-center mb-5">-->
    <!--          <div class="col-md-8 text-center">-->
    <!--            <h2 class="text-black h1 site-section-heading text-center">Blog</h2>-->
    <!--          </div>-->
    <!--        </div>-->

    <!--        <div class="row">-->
    <!--          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">-->
    <!--            <div class="h-entry">-->
    <!--              <a href="madresefestival.html"><img src="images/img_1.jpg" alt="Image" class="img-fluid"></a>-->
    <!--              <h2 class="font-size-regular"><a href="madresefestival.html">Create Beautiful Website In Less Than An Hour</a></h2>-->
    <!--              <div class="meta mb-4">Ham Brook <span class="mx-2">&bullet;</span> Jan 18, 2019<span class="mx-2">&bullet;</span> <a href="#">News</a></div>-->
    <!--              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>-->
    <!--              <p><a href="#">Continue Reading...</a></p>-->
    <!--            </div> -->
    <!--          </div>-->
    <!--          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">-->
    <!--            <div class="h-entry">-->
    <!--              <a href="madresefestival.html"><img src="images/img_2.jpg" alt="Image" class="img-fluid"></a>-->
    <!--              <h2 class="font-size-regular"><a href="madresefestival.html">Create Beautiful Website In Less Than An Hour</a></h2>-->
    <!--              <div class="meta mb-4">James Phelps <span class="mx-2">&bullet;</span> Jan 18, 2019<span class="mx-2">&bullet;</span> <a href="#">News</a></div>-->
    <!--              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>-->
    <!--              <p><a href="#">Continue Reading...</a></p>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">-->
    <!--            <div class="h-entry">-->
    <!--              <a href="madresefestival.html"><img src="images/img_1.jpg" alt="Image" class="img-fluid"></a>-->
    <!--              <h2 class="font-size-regular"><a href="madresefestival.html">Create Beautiful Website In Less Than An Hour</a></h2>-->
    <!--              <div class="meta mb-4">James Phelps <span class="mx-2">&bullet;</span> Jan 18, 2019<span class="mx-2">&bullet;</span> <a href="#">News</a></div>-->
    <!--              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>-->
    <!--              <p><a href="#">Continue Reading...</a></p>-->
    <!--            </div> -->
    <!--          </div>-->
    <!--          -->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </section>-->

    <section class="site-section bg-light" id="contact-section" style="text-align: left;">
        <div class="container">
            <div class="row">
                <div class="col-md-7 mb-5">
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d202.45671522124618!2d51.40523489427334!3d35.71865669691578!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1695735372996!5m2!1sen!2sus"
                                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                            <style>
                                .gmap_canvas {
                                    overflow: hidden;
                                    background: none !important;
                                    width: 100%;
                                    height: 500px;
                                }
                            </style>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="p-4 mb-3 bg-white">
                        <p class="mb-0 font-weight-bold">address</p>
                        <p class="mb-4">
                            No. 36, Ghaffari Dead End, Jouibar St., Fatemi Square, Tehran
                        </p>

                        <p class="mb-0 font-weight-bold">phone</p>
                        <p class="mb-4"><a href="#">021-42719005</a></p>

                        <p class="mb-0 font-weight-bold">email</p>
                        <p class="mb-0"><a href="#">info@gozar.team</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="site-footer" style="text-align: left;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-5">
                            <h2 class="footer-heading mb-4">About Us</h2>
                            <p>
                                Gozar is a team consisting of young and creative members which started its
                                work
                                in web and now develops various services.
                                In addition to technical services ,Gozar providess branding and market edvelopement
                                services.
                                This team cooperates with experts in different fields to satisfy the employers
                                . Creativity is the most important axis of the team.
                            </p>
                        </div>
                        <div class="col-md-3 ml-auto">
                            <h2 class="footer-heading mb-4">links</h2>
                            <ul class="list-unstyled">
                                <li><a href="#about-section">about us</a></li>
                                <li><a href="#services-section">services</a></li>
                                <li><a href="#contact-section">contact us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h2 class="footer-heading mb-4">follow us</h2>
                            <a href="#" class="pl-3 pr-3"
                            ><span class="icon-telegram"></span
                            ></a>
                            <a href="http://instagram.com/gozar.team" class="pl-3 pr-3"
                            ><span class="icon-instagram"></span
                            ></a>
                            <a
                                    href="https://www.linkedin.com/company/gozar-team"
                                    class="pl-3 pr-3"
                            ><span class="icon-linkedin"></span
                            ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- .site-wrap -->

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/bootstrap-datepicker.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/aos.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/jquery.sticky.js"></script>

<script src="js/typed.js"></script>
<script>
    var typed = new Typed(".typed-words", {
        strings: [
            "Application Design",
            "Web Development",
            "Branding",
            "Content Services",
            "Electronic Services",
        ],
        typeSpeed: 50,
        backSpeed: 50,
        backDelay: 2000,
        startDelay: 1000,
        loop: true,
        showCursor: true,
    });
</script>

<script src="js/main.js"></script>
</body>
</html>
